NEXT_PUBLIC_API_URL=https://vof-gamma.vercel.app/api
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=pk_test_...
NEXT_PUBLIC_PAYSTACK_MONTHLY_PLAN_CODE=PLN_...
NEXT_PUBLIC_STRIPE_PAYMENT_LINK=
NEXT_PUBLIC_STRIPE_MONTHLY_LINK=
